<ion-header>
    <ion-navbar>
        <ion-title align="center">{{mode}}</ion-title>
        <ion-buttons left>
            <ion-title *ngIf="score!=0">Score
                <ion-badge color="secondary">{{score}}</ion-badge>
            </ion-title>
        </ion-buttons>
        <ion-buttons end>
            <ion-title end align="right" *ngIf="timerVal!=0">
                <ion-badge color="danger">{{timerVal}}</ion-badge>
            </ion-title>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="background">
    <ion-slides>
        <ion-slide class="start-slide">
            <img src="assets/imgs/puz-logo.png" width="20px" height="40px" style="margin-left:9px">
            <br>
            <button ion-button color="primary" (click)="loadEasy()">Easy</button>
            <button ion-button color="primary" (click)="loadMedium()">Hard</button>
        </ion-slide>
        <ion-slide *ngFor="let question of questionsArray; let i = index;trackBy:trackByIndex" class="start-slide">
            <!--   <ion-badge color="danger">{{timerVal}}</ion-badge>-->
            <!-- <h3>
                <ion-badge color="secondary">Question {{i+1}}</ion-badge>
            </h3> -->
            <ion-chip *ngIf="keyboardEvent" color="dark">
                    <ion-icon name="md-information-circle" color="secondary"></ion-icon>
                    <ion-label>Find the below word ?</ion-label>
            </ion-chip><br>
            <ion-badge color="cust-badge" style="border-radius: 20px">
                <h1 color="light">{{question.questionText | lowercase}}</h1>
                <ion-chip color="light" *ngIf="question.description">
                        <ion-icon name="ios-help-circle-outline" color="secondary"></ion-icon>
                        <ion-label>{{question.description}}</ion-label>
                    </ion-chip>
            </ion-badge>
            <br>
            <br>
            <br>
            <!-- <ion-chip>
                
                <ion-icon name="md-information" large></ion-icon>
                <ion-label>{{question.questionText}}</ion-label>
            </ion-chip> -->
            <!-- <p style="color:black">Hint: {{question.description}}</p> -->
            <ion-item>
                <ion-input type="text" [(ngModel)]="question.ans" placeholder="Please enter your answer..." (ngModelChange)="question.ans = $event.toLocaleLowerCase()"
                    (ionChange)="checkAnswer(question.ans,question)" [disabled]="hasAnswered" style="background-color: transparent"></ion-input>
                <!-- <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <ion-chip *ngFor="let sets of question.questionSets; let s = index;" color="danger">
                            <ion-label color="light" click=(checkAnswer(sets.val,question))>{{sets.val}}</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid> -->
            </ion-item>
            <span *ngIf="checkStatus">
                <ion-icon name="thumbs-up"></ion-icon>
            </span>
            <span *ngIf="checkStatusError">
                <ion-icon name="thumbs-down"></ion-icon>
            </span>
            <span *ngIf="showAlert">{{AlertMessages}}</span>
            <br>
            <button *ngIf="keyboardEvent" (click)="restartQuiz()" ion-button color="default">Stop ?</button>
        </ion-slide>
        <ion-slide class="start-slide">
            <h2>Final Score:
                <ion-badge color="secondary">{{score}}</ion-badge>
            </h2>
            <br>
            <br>
            <p>Start Again ?</p>
            <!--        <button (click)="restartQuiz()" ion-button color="default">Start Again ?</button>-->
            <button ion-button color="primary" (click)="loadEasy()">Easy</button>
            <button ion-button color="primary" (click)="loadMedium()">Hard</button>
            <br>
            <button ion-button color="primary" (click)="goHome()">HOME</button>
        </ion-slide>
    </ion-slides>

</ion-content>