<ion-header>
    <ion-navbar>
        <ion-title align="center">{{mode}}</ion-title>
        <ion-buttons left>
            <ion-title *ngIf="score!=0">Score
                <ion-badge color="secondary">{{score}}</ion-badge>
            </ion-title>
        </ion-buttons>
        <ion-buttons end>
            <ion-title end align="right" *ngIf="timerVal!=0">
                <ion-badge color="danger">{{timerVal}}</ion-badge>
            </ion-title>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-slides>
        <ion-slide class="start-slide">
            <img src="assets/imgs/puz-logo.png" width="20px" height="20px">
            <br>
            <button ion-button color="primary" (click)="loadEasy()">Easy</button>
            <button ion-button color="primary" (click)="loadMedium()">Hard</button>
        </ion-slide>
        <ion-slide *ngFor="let question of questionsArray; let i = index;trackBy:trackByIndex" class="start-slide">
            <!-- <ion-badge color="danger">{{timerVal}}</ion-badge> -->
            <ion-card color="dark">
                    <ion-card-header>
                <h1>{{i+1}}. {{question.questionText}}</h1>
                <p *ngIf="question.description">({{question.description}})</p>
                </ion-card-header>
            </ion-card>
            <ion-item>
                <ion-input type="text" [(ngModel)]="question.ans" (ngModelChange)="question.ans = $event.toLocaleLowerCase()" (ionChange)="checkAnswer(question.ans,question)"
                    [disabled]="hasAnswered"></ion-input>
            </ion-item>
            <span *ngIf="checkStatus">
                <ion-icon name="thumbs-up"></ion-icon>
            </span>
            <span *ngIf="checkStatusError">
                <ion-icon name="thumbs-down"></ion-icon>
            </span>
            <span *ngIf="showAlert">{{AlertMessages}}</span>
            <br>
            <button (click)="restartQuiz()" ion-button color="default">Stop ?</button>
        </ion-slide>
        <ion-slide class="start-slide">
            <h2>Final Score:
                <ion-badge color="secondary">{{score}}</ion-badge>
            </h2>
            <br>
            <br>
            <p>Start Again ?</p>
            <!--        <button (click)="restartQuiz()" ion-button color="default">Start Again ?</button>-->
            <button ion-button color="primary" (click)="loadEasy()">Easy</button>
            <button ion-button color="primary" (click)="loadMedium()">Hard</button>
            <br>
            <button ion-button color="primary" (click)="goHome()">HOME</button>
        </ion-slide>
    </ion-slides>

</ion-content>